<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.phonegap.example"
    versionCode = "10"
    version     = "1.0.0" >

<!-- versionCode is optional and Android only -->

  <name>PRODCAST</name>

  <description>
      PRODCAST Staging
  </description>

  <author href="http://xaozique.com" email="manager@xaozique.com">
      Saravanan Thangaraju
  </author>

</widget>